# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# dotenv
.env

# PyInstaller
#  Usually these files are written by a python script from a template
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg
*.whl
